@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

body {
  /* tailwind bg-neutral-200 */
  background-color: #f3f4f6;
}
